<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>

  <div th:fragment="sidebar">
  	<div class="side-panels">
    <div class="panel panel-default">
      <div class="panel-heading" th:inline="text">Kirjautunut: [[${#httpServletRequest.remoteUser}]]</div>
      <div class="panel-body">
        <div style="padding-bottom: 5px;">Viimeinen kirjaus: <span th:text="${#temporals.format(last_added,'dd.MM.yyyy HH:mm')}">-</span></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Päivittäiset kalorit &nbsp;&nbsp; Viikko: <span th:text="${current_week}">-</span></div>
      <div class="panel-body">
      	<div th:each="weekday : ${current_week_days}">
      	    <div th:text="${#strings.substringBefore(weekday,'#')}" style="padding-bottom: 4px;">...</div>
			<div th:with="val=${#strings.substringAfter(weekday,'#')} * 1.0" class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
			  	<div class="progress-bar bg-success" th:with="pros=${((val + 0.0) / (MAX_CALORIES_PER_DAY * 1.0) * 100)}" th:text="${#strings.substringAfter(weekday,'#')} + '&nbsp;' + 'kcal'" th:style="'width:' + ${#numbers.formatDecimal(pros, 0, 0)} +'%'">0.0 kcal</div>
      	</div>
<!--        <div style="padding-bottom: 4px;">Maanantai</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 85%">1053 kcal</div>-->
<!--		</div>-->
<!--        <div style="padding-bottom: 4px;">Tiistai</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 35%">35%</div>-->
<!--		</div>-->
  
<!--        <div style="padding-bottom: 4px;">Keskiviikko</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 45%">45%</div>-->
<!--		</div>-->

<!--        <div style="padding-bottom: 4px;">Torstai</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 85%">85%</div>-->
<!--		</div>-->

<!--        <div style="padding-bottom: 4px;">Perjantai</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 95%">95%</div>-->
<!--		</div>-->

<!--        <div style="padding-bottom: 4px;">Lauantai</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 55%">55%</div>-->
<!--		</div>-->

<!--        <div style="padding-bottom: 4px;">Sunnutai</div>-->
<!--		<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--		  	<div class="progress-bar bg-success" style="width: 65%">65%</div>-->
<!--		</div>-->
        
      </div>
    </div>
    </div>
  </div>
  
</body>

</html>