body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #FFF;
}

.page_header {
	border: 1px solid #DDD;
	border-top:2px solid #BEFFBE;
	background-color: #444;
	width: 100%;
	font-size: 18px;
	height: 30px;
	color: #D8D8D8;
	padding: 1px 2px 0px 10px;
}

.login_content {
	margin-top: 40px !important; border : 1px #DDDDDD solid;
	width: 400px;
	padding: 50px;
	margin: auto;
	background-color: #F9F9F9;
	border-radius: 10px;
	border: 1px #DDDDDD solid;
}

.login_content input[type=text], input[type=password] {
	border: 1px #DDDDDD solid;
	width: 300px;
	padding: 4px;
	margin: 4px;
	background-color: #FFF; border-radius: 4px;
}

.login_content input[type=submit] {
	border: 1px #DDDDDD solid;
	width: 300px;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
}

.table tr {
	cursor: pointer;
}

.hiddenRow {
	padding: 0 0px 0 4px !important;
	margin: 0px !important;
	background-color: #F5F5F5;
	font-size: 14px;
	border-bottom: 0px !important;
	border-top: 0px !important;
}

.table thead {
	color: #fff;
	background-color: #3d9520;
	background: rgb(0, 153, 51);
	background: -moz-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -webkit-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -o-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -ms-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: linear-gradient(180deg, rgb(0, 153, 51) 30%, rgb(89, 179, 0)
		70%);
	/*	text-shadow: 1px 1px 5px #000;*/
}

.table2 thead {
	background-color: #3d9520;
	color: #777;
}

/*@CHARSET "UTF-8";*/
footer {
	background-color: #D5D5D5;
	color: #999;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	left: 0;
}

.side-panels {
	margin-top: 20px;
}

#search-text-input {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 1px 1px #e5e5e5;
	width: 250px;
	font-size: 14px;
	padding: 9px 20px 6px 10px;
	border: 1px solid #ddd;
	margin-bottom: 0px;
	border-radius: 5px 0px 0px 5px;
}

#myTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 14px;
}

#myTable th, #myTable td {
	text-align: left;
	padding: 4px;
	border-bottom: 0px solid #DDD;
	border-top: 0px solid #DDD;
}

#myTable tr {
	border-bottom: 1px solid #ddd;
	border-top: 0px solid #DDD;
}

#myTable tbody tr {
	background-color: #F8F8F8;
	cursor: pointer;
}

#myTable tbody tr:hover {
	background-color: #F4F4F4;
	cursor: pointer;
}

#myTable2 {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 14px;
}

#myTable2 thead tr th.empty-sub-row, #myTable2 tbody tr td.empty-sub-row
	{
	width: 60px;
	/*	background-color: #E4E4E4;*/
}

#myTable2 tbody tr.sub-summary {
	font-weight: bold;
	background-color: #F1F1F1;
}

#myTable3 {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 14px;
}

#myTable3 th, #myTabl3e td {
	text-align: left;
	padding: 4px;
	border-bottom: 0px solid #DDD;
	border-top: 0px solid #DDD;
}

#myTable3 tr {
	border-bottom: 1px solid #ddd;
	border-top: 0px solid #DDD;
}

#myTable3 tbody tr {
	background-color: #F8F8F8;
	cursor: pointer;
}

#myTable3 tbody tr:hover {
	background-color: #F4F4F4;
	cursor: pointer;
}

.form-group label {
	font-weight: normal;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.very-small-green {
	height: 20px !important;
	width: 20px !important;
	padding: 0px !important;
	margin: -2px 0px !important;
	background-color: #D8D8D8;
	color: #fff;
	background-color: #3d9520;
	background: rgb(0, 153, 51);
	background: -moz-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -webkit-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -o-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -ms-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: linear-gradient(180deg, rgb(0, 153, 51) 30%, rgb(89, 179, 0)
		70%);
	/*	text-shadow: 1px 1px 5px #000;*/
}

.very-small-red {
	height: 20px !important;
	width: 20px !important;
	padding: 0px !important;
	margin: -2px 0px !important;
	background-color: #D8D8D8;
	color: #fff;
	background-color: #3d9520;
	background: rgb(179, 0, 0);
	background: -moz-linear-gradient(90deg, rgb(179, 0, 0) 30%,
		rgb(255, 51, 51) 70%);
	background: -webkit-linear-gradient(90deg, rgb(179, 0, 0) 30%,
		rgb(255, 51, 51) 70%);
	background: -o-linear-gradient(90deg, rgb(179, 0, 0) 30%,
		rgb(255, 51, 51) 70%);
	background: -ms-linear-gradient(90deg, rgb(179, 0, 0) 30%,
		rgb(255, 51, 51) 70%);
	background: linear-gradient(180deg, rgb(179, 0, 0) 30%, rgb(255, 51, 51)
		70%);
	/*	text-shadow: 1px 1px 5px #000;*/
}

.buttons_col {
	text-align: right;
	padding: 0px;
	width: 62px;
	background-color: #E4E4E4;
}

.search-query {
	float: right;
	height: 32px;
	width: 64px;
}

.search-query-modal {
	height: 32px;
	width: 64px;
}

.progress-bar.bg-success {
	background: -moz-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -webkit-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -o-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: -ms-linear-gradient(90deg, rgb(0, 153, 51) 30%,
		rgb(89, 179, 0) 70%);
	background: linear-gradient(180deg, rgb(0, 153, 51) 30%, rgb(89, 179, 0)
		70%);
}

.alert-posxxx {
	position: absolute;
	margin-top: -58px;
	width: 390px;
}

.light-green {
	background-color: #F2FDF2;
	width: 100%;
	border-bottom: 1px solid #C8F9C8;
}

#addFoodItddemModal {
	width: 600px;
	position: absolute;
	height: 300px;
}

/*.modal {*/

/*    overflow-y: auto;*/
/*}*/

/*.modal {*/

/*    overflow-y: scroll;*/
/*}*/
#addFoodItemModalCont {
	border: 1px solid #555;
	width: 900px;
	height: 750px; /* This can be any height and everything fills in */
	padding-top: 15px;
}

#editCategoryModalLabel {
	height: 25px;
	width: auto;
	background-color: #FFF;
	margin-top: -20px;
}

#overflow {
	border: 1px solid #DDD;
	width: auto;
	overflow-y: auto;
	height: 610px;
}

.modal-header {
	height: 44px !important;
}

#header-fixed {
	position: fixed;
	top: 0px;
	display: none;
	background-color: white;
}

table th#modal-headerd {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	background: #fff;
}

.chk-box-fld {
	width: 30px;
}

.txtSmall {
	width: 50px;
}

.one-button {
	width: 40px;
}

.txtDisabled {
	width: 100%;
	border: 0px;
	background-color: transparent;
}

.tble3-little-td {
	width: 70px;
}

div.progress-bar.bg-success {
	text-align: left;
	padding-left: 4px;
	background-color: #555 !important;
	color: #FFF;
	font-weight: normal;
}

.progress {
	background: #555 !important;
}

/*
Graaffin tyylit
**
***
****
****/
#container {
	height: 300px;
	min-width: 200px;
}

.highcharts-background {
	fill: #F5F5F5;
	stroke: #999;
	stroke-width: 1px;
}

.highcharts-figure, .highcharts-data-table table {
	min-width: 310px;
	max-width: 800px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #ebebeb;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th,
	.highcharts-data-table caption {
	padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even)
	{
	background: #f8f8f8;
}

.highcharts-data-table tr:hover {
	background: #f1f7ff;
}