<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

	

<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3-->
<head>
<title>Kaloripäiväkirja</title>

<script th:inline="javascript">
	$(document).ready(function() {
		const months = ['','Tammikuu','Helmikuu','Maaliskuu','Huhtikuu','Toukokuu','Kesäkuu','Heinäkuu','Elokuu','Syyskuu','Lokakuu','Marraskuu','Joulukuu'];
		for (n = 1; n <= 1; n++) {
			month = n;
			$.ajax({
				url : "/get-data/" + n,
				success : function(result) {
					const d = new Date();
					var month = d.getMonth()+1;
					
					Object.keys(result).forEach(function(ind) {
						res = result[ind];
						var days = [];
						var data = [];
						Object.keys(res).forEach(function(key) {
							days.push(key);
							data.push(res[key]);
						});		
						draw_chart(ind, months[month], days, data);
						
					});
				}
			});
		}
	});

	function draw_chart(key, month, days, viewCounts) {
		Highcharts.setOptions({
		    time: {
		        timezone: 'Europe/London'
		    }
		});	
	
		Highcharts.chart('container-'+key, {
	
			title : {
				text : 'Kaloritaulukko'
			},
			xAxis : [ {
				type: 'datetime',
				labels : {
					format: '{value:%dd.%mm.%YYYY}',
					rotation : -50,
					style : {
						fontSize : '12px',
						fontFamily : 'Verdana, sans-serif'
					}
				},
				title : {
					text : 'Päivämäärä'
				},
				categories : days
			} ],
			yAxis : [ {
				title : {
					text : 'Kcal'
				},
				height : '100%',
				lineWidth : 1
			} ],
		    plotOptions: {
		        series: {
		            dataLabels: {
		                enabled: false,
		                color: '#0000FF',
		                rotation : -10,
		            }
		        }
		    },
			series : [ {
				type : 'column',
				name : month,
				data : viewCounts,
			}]
		});
		
	}

	function draw_charts(month, year, viewCounts) {

		$('#container').highcharts('StockChart', {
			yAxis : [ {
				title : {
					text : 'Pressure'
				},
				height : '50%',
				lineWidth : 2
			}, {
				title : {
					text : 'Temperature'
				},
				top : '50%',
				height : '50%',
				offset : 0,
				lineWidth : 2
			} ],
			series : [ {
				type : 'column',
				name : 'Pressure',
				data : [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 3, 2, 4, 6, 3, 1 ],
			}, {
				type : 'spline',
				name : 'TemperatureIn',
				data : [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 3, 2, 4, 6, 3, 1 ],
				yAxis : 1,
			}, {
				type : 'spline',
				name : 'TemperatureOut',
				data : [ 2, 3, 4, 5, 6, 2, 3, 4, 5, 2, 1, 3, 5, 3, 2, 1 ],
				yAxis : 1,
			} ]
		});

	}

	function drawChart(month, year, viewCounts) {
		Highcharts.chart('container-bar-' + month, {
			chart : {
				type : 'column',
				styledMode : true
			},
			title : {
				text : 'Kuukauden kalorit'
			},
			xAxis : [ {
				labels : {
					rotation : -90,
					style : {
						fontSize : '13px',
						fontFamily : 'Verdana, sans-serif'
					}
				},
				title : {
					text : 'Tammikuu'
				},
				categories : year
			} ],
			yAxis : [ {
				className : 'highcharts-color-0',
				title : {
					text : 'Kalorimäärät'
				}
			} ],
			series : [ {
				data : viewCounts
			} ]
		});
	}
</script>



</head>



<body>

	<div layout:fragment="content">


		

		<figure class="highcharts-figure"><div id="container-1"></div></figure>
		<figure class="highcharts-figure"><div id="container-2"></div></figure>
		<figure class="highcharts-figure"><div id="container-3"></div></figure>
		<figure class="highcharts-figure"><div id="container-4"></div></figure>
		<figure class="highcharts-figure"><div id="container-5"></div></figure>
		<figure class="highcharts-figure"><div id="container-6"></div></figure>
		<figure class="highcharts-figure"><div id="container-7"></div></figure>
		<figure class="highcharts-figure"><div id="container-8"></div></figure>
		<figure class="highcharts-figure"><div id="container-9"></div></figure>
		<figure class="highcharts-figure"><div id="container-10"></div></figure>
		<figure class="highcharts-figure"><div id="container-11"></div></figure>
		<figure class="highcharts-figure"><div id="container-12"></div></figure>
	

	</div>



</body>
</html>