<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
 		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">kalori*</property>
        <property name="hibernate.connection.password">reppu123*</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/kalori</property>

        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
		
		<mapping class="taito.com.calorie.model.FoodCalendar"/>
		<mapping class="taito.com.calorie.model.CalendarItems"/>
		<mapping class="taito.com.calorie.model.FoodItems"/>
		
		
<!--        <mapping resource="calendar.hbm.xml"/>-->
<!--        <mapping resource="food_items.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>